.channel-wrap {
  display: flex;
  height: 90vh;
  width: 100vw;
}

.channel-list {
  float: left;
  border-right: 1px solid var(--sendbird-light-onlight-04);
}

.channel-chat {
  width: 70%;
}

@media (max-width: 768px) {
  .channel-chat {
    display: none;
  }
}
