.leaderBoard-details-container {
    border-radius: 15px;
    border: 3px solid rgba(201, 239, 204, 255);
    background-color: rgba(201, 239, 204, 255);
    height: 42px;
    width: 100px;
    padding: 4px;

    .leaderBoard-details-item {
        font-size: 22px;
        color: rgb(0, 0, 0);
        text-align: center;
    }
}