.start-date-container {
    border-top: 2px solid rgba(56, 116, 203, 255);
    border-left: 2px solid rgba(56, 116, 203, 255);
    border-bottom: 2px solid rgba(56, 116, 203, 255);
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
}