.date-container {
    background-color: rgb(229, 231, 235);
    max-width: fit-content;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .date-item {
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.20;
    }
}